{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="container w-50 mt-5">
    <h1 class="text-center">Bienvenue sur BNB-Baribas</h1>

    <div class="d-flex flex-column justify-content-around mt-5">
        <a class="btn btn-secondary" href="/login">Se connecter à mes comptes</a>
        <div class="d-flex flex-column justify-content-around mt-5">
            <p class="mx-auto">Vous n'avez pas de compte ?</p>
            <a class="btn btn-secondary" href="/register">Créer un compte</a>
        </div>
    
    </div>
</div>
{% endblock %}
